html, body {
    background-color: lightblue;
    padding:0;
    margin:0;
    height:100%;
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    text-align: center;
}

@media (max-width: 800px) {
    .codigo {
     display: none;
    }

}

@media (max-width: 300px) {
    .detalle {
        display: none;
    }
    
    .codigo {
     display: none;
    }

}

tr th{
    text-align: center;
    vertical-align: middle;
}

tr td{
    text-align: center;
    vertical-align: middle;
}

