body{
    background-color: lightblue ;
}

h1{
    text-align: center;
}

.estilodiv{
    border-style: groove;
    border-width: 5px;
    border-color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1% 5% 1% 5%;   
}

#contenedorPadre {
    display: flex;
}

#contenedorHijo {
    margin-left: 50%;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    border-radius: 30%;
    justify-content: center;
    align-self: center;
    padding: 5px 10px 5px 10px;
}

th{
    align-items: center;
}

@media (max-width: 300px) {
    #contenedorHijo {
        margin-left: 10%;
        border-style: ridge;
        border-width: 3px;
        border-color: black;
        border-radius: 30%;
        justify-content: center;
        align-self: center;
    }
  }