html, body {
    background-color: lightblue;
    padding:0;
    margin:0;
    height:100%;
}

body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 800px) {
    .codigo {
     display: none;
    }

    .imagen {
        display: none;
    }
}

@media (max-width: 300px) {
    .detalle {
        display: none;
    }
    
    .codigo {
     display: none;
    }

    .imagen {
        display: none;
    }

}

tr th{
    vertical-align: middle;
    border-style: inset;
    border-width: 5px;
}

tr td{
    text-align: center;
    vertical-align: middle;
}

